---
title: Pegah Safaie's Portfolio
css: ["assets/css/main.css", "assets/css/noscript.css"]
topjs: ["assets/js/jquery.min.js", "assets/js/browser.min.js", "assets/js/breakpoints.min.js", "assets/js/util.js", "assets/js/main.js"]
layout: page.njk
---

<!DOCTYPE HTML>
<!--
	Power by HTML5, Eleventy, Sanity
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{% if css %}
      		{% for link in css %}
         		<link rel="stylesheet" href="{{link}}" />
      		{% endfor %}
    	{% endif %}
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>{{title}}</h1>
								<p>A fully responsive site template designed by <a href="https://html5up.net">HTML5 UP</a> and released<br />
								for free under the <a href="https://html5up.net/license">Creative Commons</a> license.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#articles">Articles</a></li>
								<li><a href="#projects">Projects</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#work">Work</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Articles -->
							<article id="articles">
								<h2 class="major">Articles</h2>
								<span class="image main"><img src="images/pic01.jpg" alt="" /></span>
								<ul>
									{% for article in articles %}
										{% if article.title %}
											<li>
												{{ article.title }}: {{ article.description }}
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Work</h2>
								<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
								<p>to be written</p>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="images/pic03.jpg" alt="" /></span>
								{%- if about.bio %}
									{{ about.bio }}
								{% endif %}
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

						<!-- Projects -->
							<article id="projects">
								<h2 class="major">Projects</h2>
								<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
								<ul>
									{% for project in projects %}
										{% if project.title %}
											<li>
												{{ project.title }}: {{ project.description }}
											</li>
										{% endif %}
									{% endfor %}
									</ul>
							</article>


						</div>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
	{% if topjs %}
      		{% for link in topjs %}
         		<script src="{{link}}" />
      		{% endfor %}
    	{% endif %}

	</body>
</html>

