---
title: Pegah Safaie's Portfolio
topjs: ["assets/js/jquery.min.js", "assets/js/browser.min.js", "assets/js/breakpoints.min.js", "assets/js/util.js", "assets/js/main.js", "assets/js/sendEmail.js"]
layout: page.njk
---

<!DOCTYPE HTML>
<!--
	Power by HTML5, Eleventy, Sanity
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>{{title}}</h1>
								<p></p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#articles">Articles</a></li>
								<li><a href="#projects">Projects</a></li>
								<li><a href="#about">About</a></li>
								<!--<li><a href="#skills">Skills</a></li>-->
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="https://res.cloudinary.com/pegah/image/upload/c_scale,q_auto:best/v1609247393/Pegah.jpg" alt="Me at VueJS Confrence" /></span>
								{%- if about.bio %}
									{{ about.bio }}
								{% endif %}
							</article>

						<!-- Articles -->
							<article id="articles">
								<h2 class="major">Articles</h2>
								<ul>
									{% for article in articles %}
										{% if article.title %}
											<li>
												<a href="{{article.url}}"><span>{{ article.title }}</span></a>: {{ article.description }}
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</article>

						<!-- skills -->
							<article id="skills">
								<h2 class="major">Skills</h2>
								<p>to be written</p>
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form name="formcontact" onsubmit="return sendEmail()">
									<div class="fields">
										<div class="field half">
											<label for="sender">Name</label>
											<input type="text" name="sender" id="sender" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="subject">Subject</label>
											<input type="text" name="subject" id="subject"></input>
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="https://twitter.com/pegahsafaie" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://github.com/pegahsafaie/portfolio" class="icon fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</article>

						<!-- Projects -->
							<article id="projects">
								<h2 class="major">Projects</h2>
								<ul>
									{% for project in projects %}
										{% if project.title %}
											<li>
												<a href="{{project.url}}"><span>{{ project.title }}</span></a>: {{ project.description }}
											</li>
										{% endif %}
									{% endfor %}
									</ul>
							</article>


						</div>
				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
		{% if topjs %}
				{% for link in topjs %}
					<script src="{{link}}" ></script>
				{% endfor %}
    {% endif %}

	</body>
</html>

